<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Sherie Lin | Data Scientist</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Ping Hsuan Lin</a></h1>
        <h3>Data Scientist</h3>
        <!-- <p> Machine Learning | NLP | Statistics | Software Engineering | Economics</p> -->
        <div>
            <img src="{{site.profile | relative_url}}" alt="Profile" />
          </div>
        <p class=bio>
            Blending academic training in economics and history with hands-on experience in providing strategic plans. Proficient in Python, R, SQL and statistics. Eager to apply for a data analyst summer intern. 

        </p>
        

        <ul class="menu-buttons">
          <li><a href="https://www.linkedin.com/in/pinghsuanlin">LinkedIn</a></li>
          <li><a href="http://www.github.com/pinghsuanlin">GitHub</a></li>
          <li><a href="https://github.com/Pinghsuanlin/personalSite/tree/main/projects">Projects</a></li>
        </ul>

        
        
      </header>
      <section class=center>

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>